body {
    background-color: #56ab91;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    margin: 50px 0;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
    max-width: 1000px;
    min-width: 300px;
    margin: 50px auto;
    padding: 30px 80px;
    background-color: #358f80;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.30) 0px 3px 10px;
}

a {
    display: block;
    height: 60px;
    width: 100%;
    background-color: #32CD32;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.30) 0px 3px 10px;
}

a:active {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 10px;
}