.banner{
    background-color: #283618;
    width: 100%;
    height: 150px;
}
.titulo{
    display: block;
    background-color: #304d1d;
    width: 400px;
    height: 80px;
    padding: 20px;
    margin: 0 auto;
}