.pai{
    background-color: rgb(244, 28, 28);
    width: 400px;
    height: 200px;
    padding: 10px;
}
.filho{
    background-color: rgb(199, 15, 15);
    width: 200px;
    height: 100px;
    margin: 0 auto;
}